<div class="example-container">
  <h3>Normal Buttons</h3>
  <div class="button-row">
    <button md-button>Flat button</button>
    <button md-raised-button>Raised button</button>
    <button md-fab>
    <i class="material-icons">check</i></button>
    <button md-mini-fab><i class="material-icons">check</i></button>
  </div>

  <h3>Link Buttons</h3>
  <div class="example-button-row">
    <a md-button routerLink=".">Flat button</a>
    <a md-raised-button routerLink=".">Raised button</a>
    <a md-fab routerLink="."><i class="material-icons">check</i></a>
    <a md-mini-fab routerLink="."><i class="material-icons">check</i></a>
  </div>

  <div>
    <md-card style="width:50%;height:300px;">
        <md-button class="md-raised next-btn">button</md-button>
    </md-card>
  </div>
</div>