<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="../node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
    
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0-rc2/angular-material.min.css">-->
    <title>Dashboard Template for Bootstrap</title>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bootstrap and AngularJS</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h3>Bootstrap</h3>
          <ul class="nav nav-sidebar">
            <li routerLinkActive="active"><a routerLink="/bootstrap/get-started">Get Started</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/grid-basic">Grid Basic</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/typography">Typography</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/tables">Tables</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/images">Images</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/jumbotron">Jumbotron</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/wells">Wells</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/alerts">Alerts</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/animations">Animations</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/buttons">Buttons</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/button-groups">Button Groups</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/glyphicons">Glyphicons</a></li>
            <li routerLinkActive="active"><a routerLink="/bootstrap/badges-and-labels">Badges And Labels</a></li>
          </ul>
          <h3>Material</h3>
          <ul class="nav nav-sidebar">
            <li routerLinkActive="active"><a routerLink="/material/autocomplete">Autocomplete</a></li>
            <li routerLinkActive="active"><a routerLink="/material/checkbox">Checkbox</a></li>
            <li routerLinkActive="active"><a routerLink="/material/datepicker">Date Picker</a></li>
            <li routerLinkActive="active"><a routerLink="/material/input">Input</a></li>
            <li routerLinkActive="active"><a routerLink="/material/radio-button">Radio Button</a></li>
            <li routerLinkActive="active"><a routerLink="/material/select">Select</a></li>
            <li routerLinkActive="active"><a routerLink="/material/slider">Slider</a></li>
            <li routerLinkActive="active"><a routerLink="/material/slide-toggle">Slide Toggle</a></li>
            <li routerLinkActive="active"><a routerLink="/material/menu">Menu</a></li>
            <li routerLinkActive="active"><a routerLink="/material/sidenav">Sidenav</a></li>
            <li routerLinkActive="active"><a routerLink="/material/toolbar">Toolbar</a></li>
            <li routerLinkActive="active"><a routerLink="/material/list">List</a></li>
            <li routerLinkActive="active"><a routerLink="/material/sidenav-list">Sidenav And List</a></li>
            <li routerLinkActive="active"><a routerLink="/material/grid-list">Grid list</a></li>
            <li routerLinkActive="active"><a routerLink="/material/card">Card</a></li>
            <li routerLinkActive="active"><a routerLink="/material/tabs">Tabs</a></li>
            <li routerLinkActive="active"><a routerLink="/material/button">Button</a></li>
            <li routerLinkActive="active"><a routerLink="/material/button-toggle">Button toggle</a></li>
            <li routerLinkActive="active"><a routerLink="/material/chips">Chips</a></li>
            <li routerLinkActive="active"><a routerLink="/material/icon">Icon</a></li>
            <li routerLinkActive="active"><a routerLink="/material/progress-spinner">Progress spinner</a></li>
            <li routerLinkActive="active"><a routerLink="/material/progress-bar">Progress bar</a></li>
            <li routerLinkActive="active"><a routerLink="/material/dialog">Dialog</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
  </body>
</html>
